@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

::selection {
  background-color: #0d9488; /* Tailwind's teal-600 */
  color: #ffffff;
}
